<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulario transação</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'styles/form.css' %}">
</head>

<body>
  <div class="container">
    <form action="{% url 'form'%}" method="post" class="form">
      {% csrf_token %}
      <table class="formTable">
        <tr>
          <th colspan="3">
            Cadastrar nova transação
          </th>
        </tr>
        <tr class="valuesLine">
          <td class="typeLine">
            <label for=""></label>Tipo:<input list="types" name="type" placeholder="Receita/Despesa">
            <datalist id="types">
              <option value="receita">
              <option value="despesa">
            </datalist>
          </td>
          <td class="valueLine">
            <label for="value">Valor:</label><input type="number" id="value" name="value" placeholder="R$0,00" required>
          </td>
        </tr>
        <tr>
          <td colspan="3" class="descriptionLine">
            <label for="description">Descrição:</label><input type="text" id="description" name="description"
              placeholder="Ex: Pizza iFood" required>
          </td>
        </tr>
      </table>
      <button type="submit" class="confirmButton">Confirmar</button>
    </form>
  </div>
</body>

</html>