<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Transacoes</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'styles/index.css' %}">
</head>

<body>
  <div class="container">
    <a href="{% url 'form' %}" class="addTransaction">
      <img src="{% static 'icons/add_icon_plus.png' %}" class="button">
    </a>
    <table class="transactionsTable">
      <tr>
        <th>Tipo</th>
        <th>Valor</th>
        <th colspan="3">Descrição</th>
      </tr>
      {% for transaction in transactions %}
      <tr>

        {% if transaction.type == True %}
        <td>
          Entrada
        </td>
        <td class="revenue">
          R${{ transaction.value }}
        </td>
        {% else %}
        <td>
          Saída
        </td>
        <td class="expense">
          R${{ transaction.value }}
        </td>
        {% endif %}

        <td>
          {{ transaction.description }}
        </td>
        <td>
          <a href="{% url 'form' %}">
            <img src="{% static 'icons/edit_icon_pencil.png' %}" class="button">
          </a>
        </td>
        <td>
          <a href="{% url 'form' %}">
            <img src="{% static 'icons/delete_icon_trash.png' %}" class="button">
          </a>
        </td>
      </tr>
      {% endfor %}

    </table>
  </div>
</body>

</html>