<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Transacoes</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'styles/index.css' %}">
</head>

<body>
  <h1>Todas transações</h1>
  <table class="transactionsTable">
    <tr>
      <th>Tipo</th>
      <th>Valor</th>
      <th colspan="2">Descrição</th>
    </tr>
    {% for transaction in transactions %}
    <tr>

      {% if transaction.type == True %}
      <td>
        Saída
      </td>
      <td class="revenue">
        R${{ transaction.value }}
      </td>
      {% else %}
      <td>
        Entrada
      </td>
      <td class="expense">
        R${{ transaction.value }}
      </td>
      {% endif %}

      <td>
        {{ transaction.description }}
      </td>
      <td>
        <!-- <button class="editLinkClick"><i></i></button> -->
        <a href="http://192.168.100.3:8000/transactions/">
          <img src="{% static 'icons/edit_icon_pencil.png' %}" class="editLinkClick">
        </a>
      </td>
    </tr>
    {% endfor %}

  </table>
</body>

</html>