/* general defines */
* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: medium;
  font-weight: bold;
  padding: 0;
  margin: 0;
  color: #080808;
}

.container {
  padding: 10px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.addTransaction {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.addTransaction h1 {
  font-size: larger;
  margin: 12px 12px;
}

/* table style */
.transactionsTable {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  width: 80vw;
  max-width: 450px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.25);
}

.transactionsTable tr th {
  background-color: #080808;
  border: 3px solid #080808;
  color: #ffffff;
  text-align: left;
  font-size: larger;
}

.transactionsTable th,
.transactionsTable td {
  padding: 12px 14px;
}

.transactionsTable tbody tr {
  border-bottom: 1px solid #cccccc;
}

.transactionsTable tbody tr:nth-of-type(even) {
  background-color: #f2f2f2;
}

.transactionsTable .revenue {
  border-left: 3px solid #00af89;
  color: #00af89;
  font-weight: bold;
}
.transactionsTable .expense {
  border-left: 3px solid #e00043;
  color: #e00043;
  font-weight: bold;
}


/* edit button style */
.actionButton {
  width: 10px;
  margin: 4px;
  border: none;
  color: #080808;
}
.actionButton:hover {
  transform: scale(1.2);
  transition: 200ms ease-out;
}

/* new transation button style */
.button {
  transition: all 200ms ease-in-out;
}

.button:hover {
  margin: 4px;
  transform: scale(1.20);
}
